
* {
  padding:0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px!important;
}

/* header */
div#navbarNavAltMarkup {
  justify-content: end;
}

a.nav-link:hover {
  background-color: orangered;
  border-radius: 5px;
  color: white;
}

.navbar-brand {
  color: orangered!important;
  font-weight: 700!important;
  
}